/* main.css */

.dev-green
{
    background-color: #CAFFD8;
}

.dev-pink
{
    background-color: #FFCEFF;
}

.dev-blue
{
    background-color: #AAAAFF;
}

.dev-orange
{
    background-color: #FAE1C6;
}

.dev-purple
{
    background-color: #DCDCF6;
}

.dev-yellow
{
    background-color: #F6F6DC;
}
